* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;

}
nav {
    display: flex;
    background:#c1c1c1;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;

}
.left{
    align-items: center;
}
.right{
    align-items: center;
}
.logo{

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: .1em 0;
    font-size: 3em;
    width: 100%;
    text-align: center;
}
nav a {
    display: inline-block;
    text-decoration: none;
    color:#1e1e1e;
    padding:0 5px;
    font-weight: bold;
}
nav a:hover {
    background: blue;
}