.main-heading {
    color: purple;
    text-decoration: underline;
    text-align: center;
}
.center{
    margin-right: auto;
    margin-left: auto;
}
.button{
    text-decoration: unset;
    border-radius: 10px;
    border: 1px solid black;
    padding: 3px 10px;
    margin-left: 90%;
    font-size: 16px;
    box-shadow: 3px 5px;
}
h2{
    color: royalblue;
    text-decoration: underline;
}
img{
    border:5px solid royalblue;
    box-shadow: 5px 5px;
    animation-duration: 5s;
    animation-name: fadein;
}
.box{
    padding-top: -10px;
    padding-bottom: 20px;
    width: 90%;
    height: 95%;
    margin:20px;
    border: 10px double black;
    border-radius: 25px;
    background-image: linear-gradient(white, springgreen, lightskyblue);
    box-shadow: 10px 15px;
}
body{
    text-align: center;
    background-color: antiquewhite;
    background-image: url("https://i.pinimg.com/originals/e2/71/fd/e271fda72f1e158b5f0569cc72d36d7f.jpg");
    background-size: contain;
    font-family: "Noto Sans Caucasian Albanian";
    font-size: 20px;
}
li{
    list-style: square;
}
th{
    position: center;
    color: darkblue;
    text-decoration: underline;
}
table,th,td,tr{
    margin:5px;
    border:3px solid black;
    background-color: lightgrey;
}
a:link {
    color:red;
}

/* visited link (:visited) */
a:visited {
    color:black;
}

/* mouse hover over link (:hover) */
a:hover {
    color:blue;
}

/* active/selected link (:active) */
a:active {
    color:green;
}

/* Test Animations */
p,li{
    animation-duration: 1500ms;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}